<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jfenn.alarmio">

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="me.jfenn.alarmio.permission.ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="me.jfenn.alarmio.Alarmio"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.jfenn.alarmio.activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.jfenn.alarmio.activities.AlarmActivity"
            android:launchMode="singleTask" />

        <activity
            android:name="me.jfenn.alarmio.activities.FileChooserActivity"
            android:theme="@style/AppTheme.Transparent" />

        <service android:name="me.jfenn.alarmio.services.SleepReminderService" />
        <service android:name="me.jfenn.alarmio.services.StopwatchService" />
        <service android:name="me.jfenn.alarmio.services.TimerService" />

        <receiver android:name="me.jfenn.alarmio.receivers.AlarmReceiver" />
        <receiver android:name="me.jfenn.alarmio.receivers.TimerReceiver" />
        <receiver android:name="me.jfenn.alarmio.receivers.RestoreOnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>